

<div class="topBar">

  <div class="topTitle" >
      
      {{toptext}}
     </div>
  
  <div class="controlPanel" >

    <!--

      <td>
          <div class="noteBtnframe">
              <img class="imgControll" [hidden]="!NewNotifications" (click)="switchNotificationsDisplay()" src="./assets/bell.png"> 
              <img class="imgControll" [hidden]="NewNotifications" (click)="switchNotificationsDisplay()" src="./assets/bellActive.png"> 
          </div>
          </td>
          
   
    <td>
  <div class="menuBtnFrame" > 
      <img class="imgControll" (click)="switchSettingsDisplay()" src="./assets/settings.png">
  </div>
</td>

-->

<div  (click)="switchSubmenue()"  >
    <div class="hammburger"  >
        <div class="cheese" ></div>
        <div class="cheese" ></div>
        <div class="cheese" ></div>
    </div>
  
</div>



</div>
  </div>

  <div [hidden]="submenueIsHidden" class="submenu" >

    <div class="grid-container">
      <div class="grid-item"> <img class="imgControll" [hidden]="!NewNotifications" (click)="switchNotificationsDisplay()" src="./assets/newIcons/0560-binoculars2.png"> 
        <img class="imgControll" [hidden]="NewNotifications" (click)="switchNotificationsDisplay()" src="./assets/bellActive.png"> </div>
      <div class="grid-item">  <img class="imgControll" (click)="switchSettingsDisplay()" src="./assets/newIcons/0609-cogs.png"></div>
      <div class="grid-item">  <img class="imgControll" (click)="switchHelpIsHidden()"  src="./assets/newIcons/1111-question4.png"></div>
   <!--    <div class="grid-item">  <img class="imgControll"  src="./assets/newIcons/0069-camera.png"></div> -->
     
   <div class="grid-item">  <img class="imgControll" (click)="switchMapsettingsIsHidden()"  src="./assets/1125-info2.png"></div>  
   <div class="grid-itemBig" (click)="switchGallerieIsHidden()" >  Wissenschaftsmarkt</div>
    
   
     
    </div>


  </div>

<div class="maincontainer">
<app-dialog-box  [hidden]="dialogBoxIsHidden"  ></app-dialog-box>
  <app-map-dialog [hidden]="mapIsHidden"  ></app-map-dialog>
  <app-settings-dialog [hidden]="settingsIsHidden"  ></app-settings-dialog>
  <app-info-pop-up [hidden]="InfoPopUpIsHidde"  ></app-info-pop-up>
  <app-notifications-dialog [hidden]="NotificationsDialogIsHidden"  ></app-notifications-dialog>
 <app-gallerie [hidden]="gallerieIsHidden"></app-gallerie>
 <app-help  [hidden]="helpIsHidden" ></app-help>
 <app-mapsettings [hidden]="mapsettingsIsHidden" ></app-mapsettings>


</div> 
