.infoDiv
  position: absolute
  left: 7%
  top: 2%
  z-index: 20004
  height: 80%
  width: 86%
  background-color: rgba(56, 173, 169, 0.9)
  border-radius: 10px
  transition: 0.8s
  color: black
  font-size: 20px
  font-family: Arial, Helvetica, sans-serif
  line-height: 20px




.infoCloseBtn
  position: absolute
  right: 5px
  top: 5px
  height: 40px
  color: black
  line-height: 30px
  font-family: Arial, Helvetica, sans-serif
  font-size: 25px
  z-index: 2000000
  transform: rotate(-45deg)

.listBarFrame
  position: absolute
  left: 5%
  top: 10%
  width: 80%
  height: 80%
  overflow: auto

.listBar
  position: relative
  padding-top: 5px
  height: 40px
  border-bottom: solid 1px rgba(61, 61, 61,0.4)
  overflow-x: scroll
  white-space: nowrap


.backToListBtn
  position: absolute
  left: 5px
  top: 5px
  height: 40px
  color: black
  line-height: 30px
  font-family: Arial, Helvetica, sans-serif
  font-size: 25px
  z-index: 2000000
  -moz-transform: scale(-1, -1)
  -o-transform: scale(-1, -1)
  -webkit-transform: scale(-1, -1)
  transform: scale(-1, -1)

.distText
  position: absolute
  left: 3px
  bottom: 0px
  line-height: 20px
  font-size: 13px
  color: rgb(51, 51, 51)

.listBartext
  position: absolute
  left: 3px
  line-height: 40px

.textSection
  position: relative
  padding-top: 5px
  padding-bottom: 5px
  border-bottom: solid 1px rgba(61, 61, 61,0.4)
   font-size: 18px

.header
  font-size: 20px
  padding-bottom: 8px
  padding-top: 18px
