.infoDiv
  position: absolute
  left: 10%
  top: 2%
  z-index: 20004
  height: 75%
  width: 75%
  padding: 3px
  //background-image: linear-gradient(to bottom, rgba(233,233,233,0.9), rgba(222,222,222,0.95))
  background-color: rgba(240,240,240,0.9)
  background-color: rgba(35,35,35,0.9)
  border-radius: 10px
  transition: 0.8s
  color: whitesmoke
  font-size: 20px
  font-family: simstdob
  line-height: 20px

.innerFrame
  padding-top: 60px

.stonePic
  max-width: 100px
  position: absolute
  right: 1%

.stonePicBig  
   position: absolute
   right: 1%
   width: 80%
   border: solid 0px black 
   border-radius: 5px


.infoCloseBtn
  position: absolute
  right: 5px
  top: 5px
  height: 25px
  color: black
  line-height: 30px
  font-family: simstdob
  font-size: 25px
  z-index: 2000000
  filter: invert(1)
  transform: rotate(45deg)

.listBarFrame
  position: absolute
  left: 5%
  top: 10%
  width: 90%
  height: 70%
  overflow: auto

.listBar
  position: relative
  padding-top: 5px
  height: 40px
  border-bottom: solid 1px rgba(61, 61, 61,0.4)
  border-bottom: solid 1px rgba(244, 244, 244,0.4)
  overflow-x: auto
  white-space: nowrap


.backToListBtn
  position: absolute
  left: 5px
  top: 5px
  height: 35px
  color: black
  line-height: 30px
  font-family: simstdob
  font-size: 25px
  z-index: 2000000
  filter: invert(1)


.distText
  position: absolute
  left: 3px
  bottom: 0px
  line-height: 20px
  font-size: 13px
  color: rgb(51, 51, 51)

.listBartext
  position: absolute
  left: 3px
  line-height: 40px

.textSection
  position: relative
  padding-top: 5px
  padding-bottom: 5px
  border-bottom: solid 1px rgba(61, 61, 61,0.4)
  font-size: 20px

.header
  font-size: 20px
  padding-bottom: 8px
  padding-top: 18px


.distTextExpandet
  position: absolute
  right: 3px
  bottom: 0px
  line-height: 40px
  font-size: 15px
  color: rgb(51, 51, 51)

.showOnMap
  position: absolute
  width: 100%
  margin-left: 10%

  //right: 0px
  bottom: 30px
  //font-size: 16px
  //line-height: 20px



.InfoButton
  border: 0px solid red
  width: 80%
  height: 60px
  line-height: 90%
  font-size: 1rem
  text-align: center
  font-size-adjust: 0.58
  //word-wrap: break-word


.InfoButtonMarkiert
  border: 0px solid red
  color: yellow
  width: 80%
  height: 60px
  line-height: 75%
  font-size: 1rem
  text-align: center
  font-size-adjust: 0.58

.error
  color: #ff6161
  width: 80%
  height: 60px
  text-align: center
  font-size: 13px
  transition: 0.8
  z-index: 50000

.markerBall
  height: 12px
  width: 12px
  background-color:  yellow
  border-radius: 50%
  align-self: center

.markerWrap
  padding: 5px

.noMarkerBall
  height: 12px
  width: 20px
  background-color:  transparent
  border-radius: 50%
  align-self: center



.starPicOn
  position: relative
  //bottom: -22px
  width: 32px

.starPicOff
  position: relative
  //bottom: -22px
  width: 32px
  filter: invert(1)


.starPicList
  width: 20px
   vertical-align: middle