.imgControll
  margin-top: 30%
  zoom: 80%
  max-width: 100px
  max-height: 50px
  &:active
    filter: invert(0.3)

.mapcontrols
  position: absolute
  top: 10%
  right: 2%
  width: 10%
  height: 20%
  background-color: transparent
  z-index: 20003
  
.mapDiv
  position: absolute
  top: 0%

  margi-top: 0%
  height: 90%
  width: 100%
  border-radius: 8px
  border: solid 2px linear-gradient(to bottom, rgb(221, 235, 211), rgb(230, 243, 218))