<div class="settingsDiv">

       <div class="searchTitle" >Geladene Steine durchsuchen</div>        


  <img  class="closeSettingsBtn" (click)="closeNotifications()" src="./assets/1114-plus.png">


  <div class="innerFrame">

  <!--
  <div *ngIf="MyMarkers.length==0" > noch keine Neuigkeiten verfügbar</div>
  <div *ngFor=" let item of MyMarkers" (click)="showOnMap(item)" >name:  {{item.nameForDisplay}} <br> entfernung:{{item.distance}} m   <hr> </div>
  
-->


  <div> 




    <form [formGroup]="userSearch" (ngSubmit)="onFormSubmit()"  >
      <table>
      <tr>
        <td>
            <input class="searchInput"  formControlName="searchValue"  placeholder="Suchwort eingeben">
        </td>
        <td>
            <div class="searchbutton" (click)="onFormSubmit()" (keyup.enter)="onFormSubmit()"  >Suchen</div>
        </td>
      </tr>  
      </table>
  
     
    </form> 


    <div class="results" >

        <hr>
      <div   *ngFor="let e of searchResult" (click)="showOnMap(e)"  > {{e.nameForDisplay}}  <hr> </div>
    </div>


  </div>


</div>
