<div class="settingsDiv">

           
  <img class="closeSettingsBtn" (click)="closeSettings()" src=".././assets/0566-zoom-out2.png">
  

<div class="innerFrame">
                         
  <app-settings-check-box [checkBoxName]="checkBoxNameGeo" [checkBoxState]="geo" (valueChange)="changeGeo($event)" ></app-settings-check-box>

  <app-settings-check-box  [checkBoxName]="checkBoxNameNote" [checkBoxState]="notification" (valueChange)=" changeNotification($event)" ></app-settings-check-box>
<hr>

<div class="rangeheader">Umkreis Suche für Benachrichtigungen</div>
<input type="range" min="0" max="500" value="100" class="slider" id="myRange" (click)="returnSlide()" (touchstart)="returnSlide()" (touchmove)="returnSlide()" >

<span class="rangeheader">{{fenceDist}}m</span>
<hr>

Build 2.3b <br>
veröffentlicht: 24.03.2019<br>
Entwickler: Gregor Hubrich<br>


</div>



 
</div>
