<div class="settingsDiv">

           
  <img class="closeSettingsBtn" (click)="closeSettings()" src="./assets/0566-zoom-out2.png">
  

<div class="innerFrame">
                         
  <app-settings-check-box [checkBoxName]="checkBoxNameGeo" [checkBoxState]="geo" (valueChange)="changeGeo($event)" ></app-settings-check-box>

  <app-settings-check-box  [checkBoxName]="checkBoxNameNote" [checkBoxState]="notification" (valueChange)=" changeNotification($event)" ></app-settings-check-box>
<hr>

<div class="rangeheader">Umkreis Suche für Benachrichtigungen</div>
<input type="range" min="0" max="1000" value="{{fenceDist}}" class="slider" id="myRange" (click)="returnSlide()" (touchstart)="returnSlide()" (touchmove)="returnSlide()" >

<span class="rangeheader">{{fenceDist}}m</span>

<hr>

<table>
<tr>

  <td>
    <div class="delteStoneButton" (click)="deleteData()" >
      <img class="deleteStones" src="./assets/0764-broom.png" >
      </div>
    </td>
  <td>
    <div class="description" >Speicher leeren <br> <div class="Descinfo">Anzahl geladener Steine: {{numberOfStones}} </div>  </div>
  </td>
</tr>
</table>



<hr>

Build 3.1b <br>
veröffentlicht: 19.08.2019<br>
Entwickler: Gregor Hubrich<br>

<hr>
Developer News:
<br>
- Speicherung des letzten Views <br>
- Speicherung der geladenen Steine <br>
- Speicherung von Einstellungen <br>
- Löschen von Steinen <br>
- Erkennung von Wikidata ID <br>


</div>



 
</div>
