
<div class="settingsDiv">
    <img  class="closeSettingsBtn" (click)="closeMapsettings()" src="./assets/1114-plus.png">
 
    <div class="searchTitle" >Impressum</div>  


    <div class="iCaption" >Technische Umsetzung:</div>
<div class="itext" > 

  Gregor Hubrich
  </div>


  <div class="iCaption" >Zur App:</div>
  <div class="itext" > 
  
  Die Progressive Web App "StoneViewer" wurde im Rahmen der Bachelorarbeit von Gregor Hubrich, in Kooperation mit 
  dem i3mainz - Institut für Raumbezogene Informations- und Messtechnik, entwicklet.
  Im Rahmen des Projektes des I3 für den mainzer Wissenschaftsmarktes 2019 wurden die App weiterentwickelt.

<br>
<br>
  Progressive Web Apps (PWA) verwenden
  moderne Webtechnologien um die
  Benutzererfahrung nativer Apps im Web zu
  erreichen. Sie sind daher App ähnlich
  gestaltet, lassen sich offline aufrufen und
  verfügen über eine gute Performance
  aufgrund der clientseitigen Ausführung.

  Hier wurde eine PWA entwickelt, die Open Data raumbezogen
  darstellt. Die implementierte
  Anwendung StoneViewer verwendet dazu
  die sogenannten „Stolpersteine“ als
  Datengrundlage. Die Stolpersteine werden
  aus den Open Data Quellen OpenStreetMap
  und WikiData geladen. Die räumliche
  Darstellung der Stolpersteine erfolgt mittels
  der durch die Leaflet API implementierte
  Karte. Um die Benutzererfahrung einer
  nativen Smarthone App mit dem
  StoneViewer nachzubilden wurden
  insbesondere Funktionen wie Push
  Benachrichtigungen und Geolocation in der
  Anwendung realisiert. Das Ergbnis der Arbeite war vorallem die Feststellung, 
  dass PWAs in der Lage sind die Vorteile nativer Apps und Web Apps zu vereinen.
  </div>


</div>