.mapDiv
  position: absolute
  bottom:  8%
  left: 10%
  z-index: 2000
  height: 10%
  width: 73%
  font-family: Arial, Helvetica, sans-serif
  font-size: 20px
  background-color: rgba(240,240,240,0.9)
  background-color: rgba(35,35,35,0.9)
  color: whitesmoke
  border-radius: 20px
  padding-left: 8px
  

.textpos
  font-family: simstdob
  font-size: 20px
  line-height: 100%
  position: absolute
  top: 25%

.mapDiv2
  position: absolute
  bottom:  8%
  left: 10%
  z-index: 2000
  height: 10%
  line-height: 300%
  width: 80%
  font-family: Arial, Helvetica, sans-serif
  font-size: 20px
  background-color: rgba(240,240,240,0.9)
  background-color: rgba(35,35,35,0.9)
  color: whitesmoke
  border-radius: 20px
  padding-left: 8px

.infoCloseBtn
  position: absolute
  right: 4%
  top: 4%
  height: 20px
  color: black
  line-height: 30px
  font-family: Arial, Helvetica, sans-serif
  font-size: 25px
  z-index: 2000000
  filter: invert(1)