
    <span *ngIf="localSelectedMarker.distance>=1" >
<div *ngIf="selcted"   class="mapDiv" (click)="setView()">


          <div class="textpos" >  Nächster Stolperstein in   {{markerDist}}m
</div>

</div>
</span>



<div *ngIf="!selcted" class="mapDiv2" (click)="setSelctedView()">
        <img *ngIf="!selcted" class="infoCloseBtn"  (click)="closeSelcted()" src="./assets/1114-plus.png">       
        <div class="textpos" >  {{localChosenMarker.nameForDisplay +" "}}  Entfernung:    {{localChosenMarker.distance}}m</div>
 

</div>